.banner {
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.banner h1 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  color: white;
}
